body{
    background-color: black;
}
#playground{
    width: 500px;
    height: 500px;
    background-color: brown;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid rgba(255, 255, 255, 0.304);
    /* width: calc(100% / 10);
    height: calc(100% / 10); */
}
.changeCol{
    background-color: blue;
}
.displayPlayCon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    background-color: blue;
}
.displayPlayOver{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}